<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{landingPage.0.fields.title}}</title>
  <meta name="description" content="{{landingPage.0.fields.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{landingPage.0.fields.title}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.brianholdendesign.com">
  <meta property="og:image" content="">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel='stylesheet' href='/stylesheets/style.css' />

  <meta name="theme-color" content="#fafafa">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JJ1STE0HNB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JJ1STE0HNB');
  </script>

</head>

<body>

  <div id="main">
    <div class="bg"></div>
    {{{body}}}
  </div>

  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>

</body>
</html>